#sidebar {
  .sidebar-wrapper {
    width: 28rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  .sidebar-header {
    color: #333;
    font-size: 22px;
    margin-bottom: 30px;
    padding: 2rem;
  }

  .sidebar-logo {
    width: 14rem;
  }

  .sidebar-nav {
    list-style: none;
    margin: 0;
    margin-top: 15rem;
  }

  .sidebar-nav li {
    margin-bottom: 10px;
  }

  .sidebar-nav a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px 20px;
    transition: background-color 0.3s;
  }

  .sidebar-nav a:hover {
    background-color: var(--color-secondary);
  }

  .sidebar-children {
    margin-left: 28rem;
  }

  .sidebar-contents {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .sidebar-user {
    font-size: 1.8rem;
  }

  .sidebar-user-name {
    margin-bottom: 3rem;
  }
}
